.errorContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  right: 40%;
  height: 40px;
  background-color: rgba(255,0,13,0.10);;
  border-radius: 5px;
  top: 80%;
  opacity: 0;
  padding: 10px;
  transition: all 0.3s ease;

  @media screen and (max-width: 1000px){
    right: 35%;
  }

  @media screen and (max-width: 600px){
    right: 20%;
  }

  @media screen and (max-width: 400px){
    right: 15%;
  }

  @media screen and (max-width: 375px){
    right: 7%;
  }

  &.active {
    opacity: 1;
    top: 130%;
  }

  .message {

  }

  .close {
    position: absolute;
    cursor: pointer;
    right: 0;
    transform: translate(0, -50%);
    margin-right: 3px;
    border: 2px solid rgba(255,0,13,0);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease;

    &:hover {
      width: 15px;
      height: 15px;
      border: 2px solid rgba(255,0,13,0.71);
      border-radius: 3px;
    }
  }
}